################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backup/x64/Debug
/backup/backup/x64/Debug
/backup/.vs/backup
